.row
{
    padding: 12.5px;
    border-top: solid;
    border-width: 1px;
    border-radius: .25%;
    padding-right: 0px;
    margin-right: 0px;
}
.col-12
{
    padding: 7.5px;
}
#teamName
{
    font-size: 30px;
}