.row
{
    padding: 12.5px;
    padding-right: 0px;
    margin-right: 0px;
}
.col-12
{
    padding: 7.5px;
}
#teamName
{
    font-size: 30px;
}
#matchup, body
{
    display: none;
}
@media only screen and (min-width: 360px){
    .homebtn
    {
    position: absolute;
    top: 0px;
    left: 0px; 
    }
}
@media only screen and (max-width: 430px)
{
    #teamName  
    {
        font-size: 20px !important;
        padding: 7px;
    }

}